<div class="bg-slate-500 p-4">
    <h1 class="font-oswald text-xl text-white text-center font-bold m-2">
        About
    </h1>

    <p class="m-2">
        My name is Luke Inlow, I am from Virginia and I am 21 years old. I've been programming since I was around 12 years old. I've worked on projects such as operating systems, compilers, video games, game engines, and full stack web apps. If you need my résumé, please email me (email address below).
    </p>

    <div class="m-2 grid grid-cols-3 justify-items-center items-center">
        <div>
            <h1 class="font-bold underline">
                Education
            </h1>
            <p>
                BS Computer Science - Full Sail University
            </p>
        </div>

        <div>
            <h1 class="font-bold underline">
                Skills
            </h1>
            <p>
              Git, JS/TS, REST, React, Angular, Tailwind CSS, Flask, Game engine development, OpenGL, DirectX, Vulkan, Game programming, Compiler creation, Unity, Godot, 3D math, C, C++, C#, Python, Lua, SQL
            </p>
        </div>

        <div>
            <h1 class="font-bold underline">
                Experience
            </h1>
            <p>
                Game Developer Intern - Menfes Interactive (September 2022 - December 2022)
            </p>
        </div>
    </div>
</div>
