<div class="bg-gray-700 pb-4">
    <h1 class="flex text-white text-center p-6 justify-center font-bold">
        Projects
    </h1>

    <div class="grid grid-cols-2">
        <app-project projectName="Sign In System" projectDescriptionSrc="assets/descriptions/signin.txt" image="assets/images/SignIn.png" link="https://github.com/Lii02/signin-system" />
        <app-project projectName="FPS Dungeon" projectDescriptionSrc="assets/descriptions/fps.txt" image="assets/images/FPSDungeon.png" link="https://lii02dev.itch.io/fps-dungeon" />
        <app-project projectName="Hoddsmimir" projectDescriptionSrc="assets/descriptions/hoddsmimir.txt" image="assets/images/Hoddsmimir.png" link="https://lii02dev.itch.io/hoddsmimir" />
        <app-project projectName="Game Of Life" projectDescriptionSrc="assets/descriptions/gol.txt" image="assets/images/GOL.png" link="https://github.com/Lii02/ConwayGOL" />
        <app-project projectName="Vulkan Renderer" projectDescriptionSrc="assets/descriptions/renderer.txt" image="assets/images/VulkanRenderer.jpg" link="https://github.com/Lii02/LevelRenderer" />
        <app-project projectName="Flappy Bird Clone" projectDescriptionSrc="assets/descriptions/flappy.txt" image="assets/images/FlappyBirdClone.png" link="https://lii02dev.itch.io/flappy-bird-clone" />
    </div>
</div>