<div class="bg-gray-800 shadow-md rounded-md">
    <h1 class="text-center text-white font-mono px-6 pt-6">
        Projects
    </h1>

    <div class="p-6">
        <app-project projectName="Game Of Life" projectDescription="Description" image="assets/images/GOL.png" />
        <app-project projectName="Hoddsmimir" projectDescription="Description 2" image="assets/images/Hoddsmimir.png" />
        <app-project projectName="Sign In System" projectDescription="Description 3" image="assets/images/SignIn.png" />
        <app-project projectName="Flappy Bird Clone" projectDescription="Description 4" image="assets/images/FlappyBirdClone.png" />
        <app-project projectName="Vulkan Renderer" projectDescription="Description 5" image="assets/images/VulkanRenderer.jpg" />
    </div>
</div>