<div class="bg-gray-800 p-4">
    <h1 class="text-white font-bold">
        Contact
    </h1>

    <div class="text-white">
        <h3>
            Email: lukeinlow@gmail.com
        </h3>
         
        <h3>
            Discord: Li#9240
        </h3>
    
        <h3>
            Phone #: +1(703)-595-3043
        </h3>
    </div>

    <a class="text-white underline italic" href="https://github.com/Lii02/portfolio" target="_blank">
        Source Code
    </a>

    <div class="flex justify-center">
        <a class="mx-2" href="https://github.com/Lii02" target="_blank">
            <img class="w-16 h-16" src="assets/icons/github-mark-white.png" alt="GitHub Page" />
        </a>
    
        <a class="mx-2" href="https://lii02dev.itch.io/" target="_blank">
            <img class="w-16 h-16" src="assets/icons/itchio.png" alt="Itch.io" />
        </a>

        <a class="mx-2" href="https://www.linkedin.com/in/luke-inlow-709b81100/" target="_blank">
            <img class="w-16 h-16" src="assets/icons/linkedin.png" alt="LinkedIn" />
        </a>
    </div>
</div>