.Email {
	text-decoration: underline;
	color: var(--link-color);
	transition: all var(--button-timing) ease;
}

.Email:hover {
	color: var(--link-color-hover);
}

.Socials {
	margin-top: 25px;
}

.Socials img {
	width: 64px;
	height: 64px;
	margin: 0px 10px;
}
