:root {
	--background-color: rgb(220, 220, 220);
	--foreground-color: black;
	--splitter-color: lightgray;
	--button-color: rgb(0, 50, 255);
	--button-color-hover: rgb(55, 85, 255);
	--link-color: rgb(0, 50, 255);
	--link-color-hover: rgb(55, 85, 255);
	--button-timing: 0.2s;
}

[data-theme='dark'] {
	--background-color: rgb(20, 20, 20);
	--foreground-color: white;
	--splitter-color: rgb(25, 25, 25);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100vw;
	margin: 0px 0px;
	padding: 0px 0px;
	background-color: var(--background-color);
	color: var(--foreground-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-quantico);
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
	font-family: var(--font-space-grotesk);
}

a {
	text-decoration: none;
}

hr {
	border: 1px solid var(--splitter-color);
}

section {
	height: 100vh;
}

.LinkButton {
	display: inline-block;
	background-color: var(--button-color);
	color: white;
	padding: 10px 20px;
	border-radius: 15px;
	transition: all var(--button-timing) ease-in;
	cursor: pointer;

	* {
		margin: 0px 0px;
	}
}

.LinkButton:hover {
	background-color: var(--button-color-hover);
	color: lightgray;
}

@media (max-width: 480px) {
	section {
		padding: 10px 25px;
	}

	.Projects {
		padding-right: 15%;
	}
}

@media (min-width: 768px) {
	section {
		padding: 25px 50px;
	}

	.AboutSection {
		padding-right: 35%;
	}

	.Projects {
		padding-right: 15%;
	}
}
