.NavBar {
	display: flex;
	align-items: center;
	padding: 25px 0px;
	background: rgb(56, 56, 56);
	background: linear-gradient(
		180deg,
		rgba(56, 56, 56, 1) 0%,
		rgba(66, 66, 66, 1) 50%,
		rgba(112, 112, 112, 1) 100%
	);

	* {
		margin: 0px 10px;
	}

	a {
		display: inline-block;
		margin-left: 25px;
		color: white;
	}

	h2 {
		display: flex;
		align-items: center;
	}

	.HomeButton {
		transition: all var(--button-timing) ease;
	}

	.HomeButton:hover {
		color: lightgray;
	}

	.NavButton {
		padding: 10px 20px;
		border-radius: 30px;
		transition: all var(--button-timing) ease-out;
	}

	.NavButton:hover {
		background-color: var(--button-color-hover);
	}

	.SettingsButton {
		padding: 5px 10px;
		border-radius: 30px;
		transition: all var(--button-timing) ease-out;
	}

	.SettingsButton:hover {
		background-color: var(--button-color-hover);
	}

	@media (max-width: 480px) {
		flex-direction: column;
	}

	@media (min-width: 768px) {
		flex-direction: row;

		.SettingsButton {
			margin-left: auto;
		}
	}
}
