.Project {
	.year {
		font-size: 15px;
	}

	img {
		border-radius: 5px;
		height: auto;
	}

	@media (max-width: 480px) {
		img {
			width: 100%;
		}
	}

	@media (min-width: 768px) {
		img {
			width: 50%;
		}
	}
}
